.image {
    width: 100%;
    height: 100vh;
    background-color: #2b5d41;
}

.contenedor {
    width: 100%;
    height: 100vh;
}

.contenedor span {
    font-family: 'Bowlby One SC', cursive;
    font-size: 25px;
    position: relative;
    top: -240px;
    margin-left: 76px;
}

.contenedor div {
    display: flex;
    justify-content: center;
    position: relative;
    top: -150px;
    width: 100%;
}

.contenedor div img {
    width: 330px;
    height: 380px;
    object-fit: cover;
    border-radius: 3%;
    position: relative;
    top: -40px;
}

.contenedor div p {
    max-width: 500px;
    text-align: justify;
    font-family: 'Rozha One', serif;
    text-decoration:dashed;
    margin-left: 160px;
}